.content-wrapper{
    float: left;
    width: 100%;
    .main-content{
      margin-left: 120px;
      padding: 0 15px 80px 15px;
      transition: all .2s;
      -ms-transition: all .2s;
      -moz-transition: all .2s;
      &.ml{
        margin-left:0;
        transition: all .2s;
        -ms-transition: all .2s;
        -moz-transition: all .2s;
      }
    }
  }
